.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.5rem;

  .logo_container {
    height: 100%;
    width: 7rem;
    padding: 2.5rem;
  }

  .options {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 1rem 1.2rem;
      text-decoration: none;
      color: #000;
      cursor: pointer;
      h2 {
        font-size: 2rem;
        font-weight: 400;
        @media (max-width: 555px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
